<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wf.demo.dao.CourseDao">
    <resultMap id="courseResultMap" type="Course">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="teacherId" column="teacher_id"/>
    </resultMap>
    <select id="queryAllCourse" resultMap="courseResultMap">
        select * from course;
    </select>

    <select id="queryByName" resultType="Course">
        select * from course where name=#{name}
    </select>

    <select id="queryById" resultType="Course">
        select * from course where id=#{id}
    </select>

    <select id="queryByTeacherId" resultType="Course">
        select * from course where teacher_id=#{teacherId}
    </select>

    <update id="updateCourse" parameterType="Course">
        update Course set name=#{name}, open=#{open} where id=#{id}
    </update>

    <update id="closeCourse">
        update course
        set open=0
        where id=#{id}
    </update>
</mapper>
